<!-- Footer -->
<el-footer>

    <div class="container" style="
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    font-size: 14px;
    line-height: 1.42857143;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
    display: block;
    color: #8c9398;
    text-align: center;
    text-transform: uppercase;
    padding: 60px 0 !important;
    clear: both;">
        <div class="row">
            <div class="col-md-12">
                <ul class="legals" style="list-style: none;	display:inline;">
                    <li style="	display:inline-block;"><a href="https://hananonamida.github.io/" target="_blank">关于</a></li>
                    <li style="	display:inline-block;"><a href="https://hananonamida.github.io/" target="_blank">博客</a></li>
                    <li style="	display:inline-block;"><a href="https://hananonamida.github.io/" target="_blank">网站</a></li>
                    <li style="	display:inline-block;"><a href="https://hananonamida.github.io/" target="_blank">Github</a></li>
                </ul>
                <div class="line"></div>
                <br>
                <p class="copy">© 2021 · Django · All Rights Reserved</p></div>
        </div>
    </div>


</el-footer>

