[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.0.13"
mysqlclient = "==1.4.6"
celery = "==4.1.1"
redis = "==3.2.0"
requests = "==2.22.0"

[requires]
python_version = "3.7"
