<!doctype html>

<meta charset="utf-8">
<title>Dagre D3 Demo: Clusters</title>
{%load staticfiles%}
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'bower_components/dagre-d3/demo.css' %}">
<script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
<script src="{% static 'bower_components/dagre-d3/dagre-d3.js' %}"></script>

<style id="css">
  body {
    font: 300 14px 'Helvetica Neue', Helvetica;
  }
  
  .node rect,
  .node circle,
  .node ellipse {
    stroke: #333;
    fill: #fff;
    stroke-width: 1px;
  }
  
  .edgePath path {
    stroke: #333;
    fill: #333;
    stroke-width: 1.5px;
  }
  </style>
  
  <h1 id='h1'></h1>
  <p id='workflow_desc'></p>
  
  <!-- <svg width=1024 height=768><g/></svg> -->
  <svg><g/></svg>
  <script id="js">
    // Create a new directed graph
    // Create the input graph
    var g = new dagreD3.graphlib.Graph()
    .setGraph({})
    .setDefaultEdgeLabel(function() { return {}; });
    

    // 获取工作流详情
    // 获取工作流的状态
    // 获取工作流的流转
    $.ajax({
        url:"/api/v1.0/workflows/"+ "{{ workflow_id }}",
        type:'GET',
        processData: false,
        contentType: "application/json; charset=utf-8",
        success: function(result) {
          console.log('sss');
          $(document).attr("title",'流程图-' + result.data.name);
          $("#h1").html('流程图-' + result.data.name);
          var workflow_desc = '创建人:'+ result.data.creator + ' 展现表单:' + result.data.display_form_str +' 限制表达式:' + result.data.limit_expression +' 通知脚本:' + result.data.notices + ' 查看权限校验:' + result.data.view_permission_check
          $("#workflow_desc").html(workflow_desc);
        }
    });
    $.ajax({
      url:"/api/v1.0/workflows/"+ "{{ workflow_id }}" + "/states",
        type:'GET',
        processData: false,
        contentType: "application/json; charset=utf-8",
        data: {per_page:200}, //200应该够获取全部状态了
        success: function(result) {
          if (result.code === 0) {
            state_list = result.data.value
            state_list.forEach(function(state0){
              console.log(state0.id);
              // console.log(g);
              // g.setNode(1, {label: state0.name});
            })
            
            
            // $.map(state_list, function(state0){
            //   console.log(state0.id);
            //   console.log(state0.name);
            //   g.setNode(state0.id, {label: 'fdsfsf'});
            //   // g.setNode(1,  { label: "TO111P新建工单" });
            //   g.setNode(1, {label: 'fdsfsf'});
            //   g.setNode(0,  { label: "TOP新建工单" });
            // })
          }
          
        }
    })
    g.setNode(0,  { label: "TOP新建工单" });
    g.setNode(1,  { label: "TOP新建工单1" });
    console.log(g);
    // var a= [1,2,3,4,5,6]
    // a.forEach(function(node) { 
    //   g.setNode(node,  { label: "TOP新建工单" });
    // })
    // $.map(function(result) {
    //   g.setNode(result,  { label: "TOP新建工单" });

    // })


    // g.setNode(0,  { label: "TOP新建工单" });
    // g.setNode(1, {label: 'fdsfsf'});
    // g.setNode(1,  { label: "S"});
    // g.setNode(2,  { label: "NP"});
    // g.setNode(3,  { label: "DT"});

    g.nodes().forEach(function(v) {
      var node = g.node(v);
      // Round the corners of the nodes
      node.rx = node.ry = 5;
    });

    // Set up edges, no special attributes.
    // g.setEdge(2, 3);
    // g.setEdge(1, 2);

    // g.setEdge(0, 1)

    // Create the renderer
    var render = new dagreD3.render();

    // Set up an SVG group so that we can translate the final graph.
    var svg = d3.select("svg"),
        svgGroup = svg.append("g");

    // Run the renderer. This is what draws the final graph.
    render(d3.select("svg g"), g);

    // Center the graph
    var xCenterOffset = (svg.attr("width") - g.graph().width) / 2;
    svgGroup.attr("transform", "translate(" + xCenterOffset + ", 20)");
    svg.attr("height", g.graph().height + 40);
</script>
