name: Build Task Image
on:
  push:
    tags:
      - 'r**'
jobs:
  build_task:
    name: Build Task
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: docker_compose_deploy/loonflow-task/Dockerfile
          platforms: linux/amd64
          push: true
          tags: blackholll/loonflow-task:latest,blackholll/loonflow-task:${{ github.ref_name }}
